<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Document</title>
</head>
<body>
    <h1>Edit your Holler</h1>
    <form action="/hollers/<%=holler.id%>?_method=PUT" method="POST">
        <label>Holler Body</label>
        <div>
            <input
            class="input"
            type="text"
            placeholder="Add new text here"
            name="body"
            value="<%=holler.body%>"
            />
        </div>
        <label>Holler image</label>
        <div>
            <input
            class="input"
            type="text"
            placeholder="Add new pic here"
            name="image"
            value="<%=holler.image%>"
            />
        </div>
      
        <div>
            <input type="submit" value="Edit Holler">
        </div>
    </form>
</body>
</html>