<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Holler</title>
</head>
<body>
    <h1>Holler Timeline</h1>
    <button><a href="/hollers/new">Holler Something!</a></button>
    <div class="timeline"> 
        <% for(let i = 0; i < hollers.length; i++) {%>
            <% let userId = hollers[i].user %>
           <% let currentUser = {handle: "Hi"}%>
           <% for (let j = 0; j < users.length; j++) {%>
                <%if (userId == users[j]._id) {%>
                    <% currentUser = users[j] %>
                <% } %>
            <% } %>
        <p><%= currentUser.handle%>: <a href="/hollers/<%=hollers[i].id%>"><%= hollers[i].body%></a>
        <img src='<%=hollers[i].image%>' style="max-width: 200px; display: block;"></p>
    <%}%>
    </div>
</body>
</html>