<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css" />
    <title>Holler</title>
</head>
<body>
    <nav class="nav">
        <a class="nav-hollers" href="/hollers">Hollers</a>
        <a class="nav-home" href="/">Home</a>
      </nav>
    <h1>Create a new holler</h1>
    <form action="/hollers" method="POST" >
        <div>
            <input class="input" name="body" type="text" id="body" placeholder="Write Something here!"/>
        </div>
        <div>
            <input class="input" name="image" type="text" id="image" placeholder="Insert Image here!"/>
        </div>
        <div>
            <select name="user">
                <% for (let i = 0; i < users.length; i++) {%>
                    <option value="<%=users[i]._id%>"><%=users[i].handle%> </option>
                <% } %>
            </select>
        </div>
        <button type="submit">Post Holler</button>
    </form>
</body>
</html>